ESISharp.Test/dev_secret.json
sonar-project-analyze.bat
.sonarlint/
opencover.xml
TestResult.xml
.vs/
*.suo
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
publish/
*.nupkg
**/packages/*
*.[Cc]ache
!*.[Cc]ache/